augraphy_cache/
final_test/
input/GT/
psf/
testset/
*test*/
*.zip
output/
fonts/
batch_distorted_images2/
existence_log/
mineru*/
Mineru*/
old/
openmathinstruct/
subset_idx/
tmp/
*.jpg
*.png
*.json
log/
manhuayijin/
not_exist_data/
*.pyc
*.txt
tmp.py
truedataset/
*.log